<!DOCTYPE html>
<html>
    <head>
        <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="script13.js"></script>
        <link href="style1.css" rel="stylesheet">
    </head>
    <body ng-app="myMod">
        <div ng-controller="MyContr">
            <input type="checkbox" ng-model="hideSalary"/>Hide Salary
            <br/><br/>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>City</th>
                        <th ng-hide="hideSalary">Salary</th>
                        <th ng-show="hideSalary">Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in employee">
                        <td>{{emp.name}}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.city}}</td>
                        <td ng-show="hideSalary">####</td>
                        <td ng-hide="hideSalary">{{emp.salary}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>