<!DOCTYPE html>
<html>
    <head>
        <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="script8.js"></script>
        <link href="style.css" rel="stylesheet">
    </head>
    <body ng-app="myModule">
        <div ng-controller="myController">
            <br/><br/>
            <table>
                <thead>
                    <tr>
                        <th ng-click="sortData('name')">Name <div ng-class="getSortClass('name')"></div></th>
                        <th ng-click="sortData('dateOfBirth')">Date of Birth <div ng-class="getSortClass('dateOfBirth')"></div></th>
                        <th ng-click="sortData('gender')">Gender <div ng-class="getSortClass('gender')"></div></th>
                        <th ng-click="sortData('salary')">Salary <div ng-class="getSortClass('salary')"></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in employees | orderBy:sortColumn:reverseSort">
                        <td>{{emp.name}}</td>
                        <td>{{emp.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.salary | number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>